<!DOCTYPE html>
<html>
<head>
    <title>Image Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <form id="image-form">
        {% csrf_token %}
        <input type="text" id="image-prompt" placeholder="Enter image prompt">
        <button type="submit">Generate Image</button>
    </form>
    
    <div id="you_may_enter" class="centered" style="display: none; color:gray;">
        <h1 class="display-2"><strong>you may enter</strong></h1>        
    </div>
    <div id="mic_recording" class="centered" style="display: none; color:gray;">
        <h1 class="display-2"><strong>you may speak</strong></h1>        
    </div>
    <div class="centered" id="micIcon" style="display: none; color:gray;">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>   
        <br/>
        <br/>   
        <br/>
        <br/>     
        <br/>
        <br/>
        <br/>   
        <br/>
        <br/>   
        <br/>
        <br/>   
        <br/>     
        <br/>
        <br/>
        <br/>   
        <br/>
        <br/>   
        <br/>
        <br/> 
    <i class="fas fa-microphone fa-5x"></i>            

    </div>
    <div id="transcriptionResult" class="centered" style="display: none;">
        <!-- transcriptionText -->
        <p class="display-2" id="transcriptionText"></p>
    </div>
    <div id="loading-image" class="bottom-centered" style="display: none;">
        <h3 class="display-6">generating image...</h3>        
    </div>
    <div id="profanity-detected" class="centered" style="display: none;">
        <h3 class="display-4">Profanity detected. Please try again.</h3>
    </div>
    <img id="generated-image" src="" class="centered" style="display: none;">

    <style>
        body {
            min-height: 100vh;
            margin: 0;
            font-family: 'Courier 10 Pitch', monospace;
            font-weight: bold;
        }

        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .bottom-centered {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        #generated-image {
            border-radius: 50%;
        }

        #transcriptionText:after {
            content: '|';
            animation: blink 1s infinite;
        }

        @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }
    </style>



    <script>        

    // Get the current date and time
    let date = new Date();
    let day = date.getDay();
    let hour = date.getHours();

    // Check if the current day is a weekday and the current time is between 8:00 and 20:00
    if (day >= 1 && day <= 5 && hour >= 8 && hour < 20) {
        // The page is active, so you can enable your page's functionality here
    } else {
        // The page is inactive, so you can disable your page's functionality and display a message here
        document.body.innerHTML = '<div style="display: flex; justify-content: center; align-items: center; height: 100vh;"><h1>Deze installatie is actief elke weekdag van 8:00 tot 20:00</h1></div>';

        // Refresh the page every 10 minutes
        setTimeout(function() {
            location.reload();
        }, 10 * 60 * 1000);
    }


        document.addEventListener('DOMContentLoaded', () => {

            function generateImage(imagePrompt) {
                $.ajax({
                    url: '/generate_image/',
                    type: 'post',
                    data: {
                        'image_prompt': imagePrompt,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(data){                        
                        if(data=="profanity_detected"){
                            $('#image-form, #mic_recording, #transcriptionResult, #loading-gpt-prompt, #gptPromptResult, #loading-image, #generated-image').hide();
                            $('#profanity-detected').show();
                            setTimeout(() => {
                                $('#profanity-detected').hide();
                                $('#transcriptionResult, #mic_recording').show();
                                //startRecording();
                                location.reload();
                                console.log("start recording from profanity detected");
                            }, 4000);
                            return;
                        }
                        $('#generated-image').one('load', function() {
                            console.log('Image loaded successfully');
                            onImageGenerated();
                        }).attr('src', data);
                        console.log(data);
                        console.log('Image src set successfully');
                    }
                });
            }

            $(document).ready(function(){  
                // Initially, hide all elements except the mic_recording
                $('#image-form, #profanity-detected, #transcriptionResult, #loading-gpt-prompt, #gptPromptResult, #loading-image, #generated-image').hide();
                $('#mic_recording').show();            
            });

            // When the transcription result is ready, show only the loading-gpt-prompt
            // You need to call this function when the transcription result is ready
            function onTranscriptionResultReady() {
                if($('#loading-image').is(':visible')){
                    return; //if the image is ready before the text is done with animation, don't show the gpt prompt
                }
                $('#mic_recording, #profanity-detected, #image-form, #loading-image, #generated-image').hide();
                //$('#transcriptionResult, #loading-gpt-prompt').show();
                $('#transcriptionResult, #loading-image').show();
            }

            // When the GPT prompt result is ready, show only the gptPromptResult and loading-image
            // You need to call this function when the GPT prompt result is ready
            function onGptPromptResultReady() {
                $('#mic_recording, #profanity-detected, #image-form, #transcriptionResult, #loading-gpt-prompt, #generated-image').hide();
                $('#gptPromptResult, #loading-image').show();
            }

            // When the image is generated, show only the generated image
            // You need to call this function when the image is generated
            function onImageGenerated() {
                $('#mic_recording, #image-form, #profanity-detected, #transcriptionResult, #loading-gpt-prompt, #gptPromptResult, #loading-image').hide();
                $('#generated-image').show();

                setTimeout(function() {
                    $('#generated-image').animate({
                        width: '0px',
                        height: '0px'
                    }, 2000, function() {
                        $('#you_may_enter').show();
                        setTimeout(function() {
                            $('#mic_recording').show();
                            $('#you_may_enter').hide();
                            $('#generated-image').hide();
                            //startRecording();  // Assuming startRecording is the function to start the mic recording
                            console.log("start recording from image fade out");
                            //reload page
                            location.reload();
                            $('#generated-image').attr('src', '');
                            $('#generated-image').css({ 'width': '', 'height': '' });  // Reset the image size
                        }, 5000);  // = 5 seconds
                    });
                }, 10000);  // = 10 seconds
            }


            let audioChunks = [];
            let audioContext;
            let isRecording = false;
            let silenceTimeout;

            let firstRecordingTime = null;
            let latestRecordingTime = null;


            let silenceTimeoutTime = 2000;
            let minimumRecordingDuration = 500;
            let maximumRecordingDuration = 10000;

            let shouldStartRecording = false;

            async function startRecording() {
                let reloadTimeout;
                try {
                    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                    let mediaRecorder = new MediaRecorder(stream);

                    mediaRecorder.ondataavailable = event => {
                        console.log("Adding audio chunk ondataavailable")
                                                
                        if (event.data.size > 0 && shouldStartRecording) {
                            if (shouldStartRecording) {
                                audioChunks.push(event.data); 
                            } else {
                                //clear the event.data
                                event.data = null;
                            }
                                            
                        }
                        
                        console.log('Audiochunk length after adding ', audioChunks.length)
                    };

                    mediaRecorder.onstop = () => {
                        console.log('Audiochunk length on stop', audioChunks.length)
                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });

                        const formData = new FormData();
                        formData.append('file', audioBlob);

                        // Send the recorded audio to the Django server
                        fetch('/process_audio/', {
                            method: 'POST',
                            body: formData,
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Transcription:', data.transcript);
                            generateImage(data.transcript); //directly generate image to reduce delay

                            const maxCharacters = 140;  // Change this to control the maximum number of characters
                            let transcript = data.transcript;
                            if (data.transcript.length > maxCharacters) {
                                transcript = data.transcript.substring(0, maxCharacters) + '...';
                            }

                            $('#mic_recording, #profanity-detected, #image-form, #loading-image, #generated-image').hide();
                            $('#transcriptionResult').show();

                            // Clear the transcriptionText element
                            $('#transcriptionText').text('');

                            // Show the transcription result one character at a time
                            let i = 0;
                            const speed = 50;  // Change this to control the speed
                            const intervalId = setInterval(() => {
                                if (i < transcript.length) {
                                    $('#transcriptionText').text($('#transcriptionText').text() + transcript[i]);
                                    i++;
                                } else {
                                    clearInterval(intervalId);
                                    onTranscriptionResultReady();                                    
                                }
                            }, speed);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });

                        // Stop all tracks in the stream
                        stream.getTracks().forEach(track => track.stop());
                    };

                    // Check microphone audio level continuously
                    audioContext = new (window.AudioContext || window.webkitAudioContext)();
                    const analyser = audioContext.createAnalyser();
                    const microphone = audioContext.createMediaStreamSource(stream);
                    const scriptNode = audioContext.createScriptProcessor(2048, 1, 1);

                    analyser.smoothingTimeConstant = 0.3;
                    analyser.fftSize = 1024;

                    microphone.connect(analyser);
                    analyser.connect(scriptNode);
                    scriptNode.connect(audioContext.destination);

                    scriptNode.onaudioprocess = function(event) {
                        const buffer = event.inputBuffer.getChannelData(0);
                        const maxAmplitude = Math.max.apply(null, buffer);

                        // Adjust this threshold based on your requirements
                        const turnOnThreshold = 0.50;
                        const silenceThreshold = 0.25;

                        //console.log("maxAmplitude: " + maxAmplitude);

                        if (maxAmplitude > turnOnThreshold) {
                            shouldStartRecording = true;
                            if(isRecording == false){
                                console.log('Length before threshold', audioChunks.length)                                
                                audioChunks = []; //start recording now                                
                                console.log('Length after amplitude over threshold', audioChunks.length)
                                isRecording = true;
                                $('#micIcon').show();
                                firstRecordingTime = Date.now();
                                clearTimeout(reloadTimeout); // Clear the reload timeout when recording starts
                            }
                        }
                        if(maxAmplitude > silenceThreshold && isRecording){                            
                            latestRecordingTime = Date.now();
                            // Reset the silence timeout if the volume is high
                            clearTimeout(silenceTimeout);
                            silenceTimeout = undefined;
                            console.log("cleared timeout");
                        } else {
                            // Start the silence timeout if the volume is low
                            if (isRecording) {
                                const recordingDuration = latestRecordingTime - firstRecordingTime;
                                if (recordingDuration > minimumRecordingDuration && recordingDuration < maximumRecordingDuration) {
                                    console.log(silenceTimeout);
                                    if (typeof silenceTimeout == 'undefined') {
                                        console.log("started timeout");
                                        silenceTimeout = setTimeout(() => {                                        
                                            if (isRecording) {//send the data after a pause
                                                mediaRecorder.stop();
                                                isRecording = false;
                                                $('#micIcon').hide();
                                                silenceTimeout = undefined;
                                            }
                                        }, silenceTimeoutTime);//silence delay after which audio is sent
                                    }
                                } else if (recordingDuration > maximumRecordingDuration){                                    
                                    if (isRecording) {//send the data if someone speaks for too long
                                        mediaRecorder.stop();
                                        isRecording = false;
                                        $('#micIcon').hide();
                                        silenceTimeout = undefined;
                                        console.log("stopped recording because of max duration");
                                    }
                                }
                                else if (Date.now() - latestRecordingTime > silenceTimeoutTime) { //if recording too short or too long, reset
                                    isRecording = false;
                                    $('#micIcon').hide();   
                                    location.reload();
                                }
                            }
                        }
                    };
                    
                    audioChunks = [];
                    mediaRecorder.start();

                    // Set a timeout for 10 seconds to reload the page if isRecording is false
                    reloadTimeout = setTimeout(() => {
                        if (!isRecording) {
                            location.reload();
                        }
                    }, 10000); // 10 seconds in milliseconds
                    
                } catch (error) {
                    console.error('Error starting recording:', error);
                }
            }

            document.getElementById('mic_recording').addEventListener('click', () => {
                // When the user clicks the mic_recording area, start recording
                startRecording();
            });

            //on page load, start recording
            startRecording();
        });
    </script>
</body>
</html>
